.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;


  padding: 3px 5px 5px;


  width: 130px;
  height: 30px;

  background-color: #121212;
  border-radius: 8px;

  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;

  position: relative;

  transition: 0.3s;

}


.button::before {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: -2px;

  border-radius: 9px;

  background: linear-gradient(-45deg,
      rgba(147, 88, 247, 1),
      rgba(16, 215, 226, 1));
  background-size: 140%;
  animation: move infinite forwards 1s;
}

.button:hover {
  background-color: #1f1f1f;
  color: #00bbc5;
}

.button p {
  margin-top: 3px;
}