
/* Principal */
@media (max-width: 800px) {


    .img-form-right {
        display: none;
    }

    .home-right {
        display: none;
    }
}



@media (max-width: 768px) {

    body{
        text-align: center;
    }

        /* home  */



    .container-home {
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100%;

    }
    
    .home-left{
        font-size: 1.6rem;
        width: 100%;
    }

    .home-left span{
        font-size: 3.6rem;
    }

    .container-button {
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        width: 100%;
        
        margin-top: 1rem;
    }

       /* sobre  */

  

    .scroll {
        width: 100%;
        left: 0;
    }

    .container-sobre {
        display: block;
        width: 85%;
    }
    
    .image-perfil img{
        height: 220px;
        margin-bottom: 2rem;
    }

    .descricao{
        margin: 0;
    }
    

     .descricao-perfil {
       text-align: justify;
        
    }

    #mais {
        display: none;
    }

    #verMais {
        display: inline;
    }


    #leiaMais {
        cursor: pointer;
        color: #00d2df;
    }

    .empresas{
        display: none;
    }

   .container-experiencia {
       width: 85%;
       margin: auto;
       text-align: left;
       text-align: justify;
   }
   .caixas{
       margin: 0;
   }

   .ano{
       float: none;
   }

   .container-educacao{
       width: 100%;
       margin: auto;

       margin-bottom: 4rem;
   }

   

   .ifba{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .image-campus {
       margin: auto;
       margin: 0;
       border-radius: 1rem;
   }

   .info-ifba {
       margin: 0;
       width: 85%;
 
       padding-top: 3rem;
   }


   .container-button-ifba {
        display: flex;
        justify-content: center;
        margin: auto;
   }

    .slideImageMobi{
        display: flex;
    }

   .container-one {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
       grid-gap: 15px;
   }
   
   .ling img {
       width: 4rem;
       height: 4rem;

       transition: all 0.3s ease 0s;
   }



   .title{
        text-align: left;
   }

   #contato {
       width: 100%;
   }

    .form-contato {
        width: 85%;
    }

    .container-form {
        display: block;
    }

}


@media (max-width: 568px) {
    .btn {
        display: none;
    }

    .contato-bs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 80%;
        margin: auto;
    }

    .redes img {
        width: 3rem;
        height: 3rem;
    }

}

@media (max-width: 450px) {

}