
/* Principal */
@media (max-width: 880px) {



}



@media (max-width: 768px) {

    body{
        text-align: center;
    }

        /* home  */


    .container-home {
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100%;

    }
    
    .home-left{
        font-size: 1.6rem;
        width: 100%;
    }

    .home-left span{
        font-size: 3.6rem;
    }

    .container-button {
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        width: 100%;
        
        margin-top: 1rem;
    }

       /* sobre  */

    .home-right {
        display: none;
    }

    .scroll {
        width: 100%;
        left: 0;
    }

    .container-sobre {
        display: block;
        width: 85%;
    }
    
    .image-perfil img{
        height: 220px;
        margin-bottom: 2rem;
    }

    .descricao{
        margin: 0;
    }

     .descricao-perfil {
       text-align: justify;
        
    }
    
    #mais {
        display: none;
    }



    #leiaMais {
        cursor: pointer;
        color: #00d2df;
    }

    .empresas{
        display: none;
    }

   .container-experiencia {
       width: 85%;
       margin: auto;
       text-align: left;
       text-align: justify;
   }
   .caixas{
       margin: 0;
   }

   .ano{
       float: none;
   }

   .container-educacao{
       width: 100%;
       margin: auto;

       margin-bottom: 4rem;
   }

   .ifba{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .image-campus {
       margin: auto;
       margin: 0;
       border-radius: 1rem;
   }

   .info-ifba {
       margin: 0;
       width: 85%;

       padding-top: 3rem;
   }


   .container-button-ifba {
        display: flex;
        justify-content: center;
        margin: auto;
   }




}


@media (max-width: 568px) {

}

@media (max-width: 450px) {

}