

/* sobre  */

#sobre{
    background: #151515;
    padding: 5rem 0 ;
}

.container-sobre{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
}

.image-perfil img { 
  border-left: 5px solid #00d2df;
  filter: opacity(75%);
  transition: 0.4s;

  height: 300px; 
}

.image-perfil img:hover {
  filter: opacity(100%);
  border-left: 5px solid rgba(101, 24, 180, 1);
}

.descricao{
  margin-left: 2rem;
  filter: opacity(100%);
}

.descricao h1{
  margin: 0;
  
}

.descricao h2 {
  font-size: 1.3rem;
  margin: 1rem 0 ;
  filter: opacity(75%);

}

.descricao-perfil{
  filter: opacity(75%);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}


/* ======================== */

/* experiencia  */

#experiencia{

  padding-top: 4rem;
}

.container-experiencia{
  width: 90%;
  margin: auto;
  padding: 1rem 0;
}

.container-wrapper {
  display: flex;
  
}

.empresas{
  width: 500px;
  cursor: pointer;
  margin: 2rem 1rem;
}

.empresas ul {
  list-style: none;
  font-size: 1.4rem;
}

.empresas ul li.active {
  background-color: #151515;
  border-left: 2px solid #00d2df;
  font-weight: 600;
}

.empresas li {
  padding: 1rem;
  border-left: 2px solid #272727;
  transition: background-color 0.5s ease;
}

.empresas ul li:hover {
  background-color: #272727;
  border-left: 2px solid #00d2df;
}

.caixas{
  margin-right: 5%;
  padding: 2rem 0;
}

.caixas section{
  margin-top: 1rem;
}


.box-experiencia{
  border-bottom: 3px solid #252525;
  padding-bottom: 2rem;
  padding-top: 1rem;
  position: relative;
  line-height: 2.5rem;
}

.box-experiencia h2{
    font-size: 1.6rem;
}

.ano{
  font-size: 1.2rem;
  float: right;
  font-weight: bold;
  filter: opacity(75%);
  margin-top: 2px;

}


.exp-local {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #00d2df;
  font-weight: bold;
  
}

.exp-info p{
  filter: opacity(75%);
  margin-bottom: 2rem;

}


/* =================================== */

.container-educacao{
  width: 90%;
  margin: auto;
  padding: 1rem 0;
}

.ifba{
  display: flex;
  margin-top: 2rem;
  
}

.image-campus{
  width: 37rem;
  height: 30rem;
  margin-left: 2rem;
  background-image: url('../assets/image/IFBA.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
}

.info-ifba{
  margin-left: 2rem;
  width: 65%;
}

.info-ifba h2 {
  font-size: 1.8rem;
  display: inline-block;
}

.ifba-local {
  margin: 1rem 0;
  font-size: 1.4rem;
  color: #00d2df;
  font-weight: bold;

}
.descricao-ifba{
    filter: opacity(75%);
    line-height: 1.5;
    margin-bottom: 3rem;
}

.container-button-ifba{
    margin-left: 3rem;
}

/* =============================  */

.certificados{
  width: 90%;
  margin: auto;
}

.slide{

  width: 100%;
  height: 250px;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #272727; */
  position: relative;
}

.slides{
  width: 6000px;
  display: flex;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.4s;

}

.slideImage{
  width: 100%;
  display: flex;
}

.slideImage img{
  margin: 0 0.5rem;

  width: 280px;
  height: 180px;
  border-radius: 5px;
  
}

#atual{
  margin-left: 0;
  transition: all 2s;
 
}

.button-carousel{
  position: absolute;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 2rem;
  margin-top: -7px;
}

.button-carousel:hover {
  transform: scale(1.5);

}


#voltar{
  top: 40%;
  left: -4%;
}

#proximo{
  top: 40%;
  right: -4%;
}

.balls{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 3%;
}
 
.balls div{
  transition: all 0.5s;
  border: 3px solid #fff;
  padding: 6px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.balls div:hover{
  background: #fff;
}

.slideAtual{
  transition: all 0.5s;
  background: #fff;
}

/* =============================  */

.conhecimentos{
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  display: block;
}

.container-one,
.container-two{
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.ling img,
.lingTwo img {
  width: 4rem;
  height: 4rem;

  transition: all 0.3s ease 0s;
}

.ling:hover,
.lingTwo:hover {
  cursor: pointer;
  transform: translateY(-7px);
}



/* ============================================= */

#contato {
   width: 90%;
   margin: auto;
   margin-top: 6rem;
   display: block;
}

.container-form h3 {
  color: var(--branco);
}

.form-contato {
  margin: auto;
  width: 80%;

  border-radius: 1rem;
  text-align: center;

  margin-top: 3rem;
  padding: 3rem 0;
  color: white;
  /* background: #252525; */
  border: 4px solid #252525 ;
}

.form-contato h2 {
  font-size: 3rem;
  font-weight: 800;
}

.form-contato span {
  font-size: 1.3rem;
  color: #00d2df;
  font-weight: bold;
}

.form-input {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  
  margin-top: 2.5rem;

}

.form-input input, textarea {
  background-color: white;

  color: black;
  font-size: 1rem;

  height: 1rem;
  margin-bottom: 2rem;
  padding: 1.3rem 2rem;
  border-radius: .5rem;
  border: 1px solid #272727;
}

.form-input textarea {
  height: 7rem;
  resize: none;
  overflow-y: hidden;
}


/* ========================================== */

footer{ 
    margin: auto;
    margin-top: 4rem;
    height: 70px;
    background: #151515;
}

.contato-bs{
  width: 90%;
  margin: auto;
  padding-top: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contato-bs img{
  width: 40px;
  height: 40px;
  margin: 0 .5rem;
  cursor: pointer;
}

.contato-bs span{
  color: #00d2df;
  font-weight: bold;
  letter-spacing: 1.5px;

}