

/* sobre  */

.sobre{
    background: #151515;
    padding: 5rem 0 ;
}

.container-sobre{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
}

.image-perfil img { 
  border-left: 5px solid #00d2df;
  filter: opacity(75%);
  transition: 0.4s;

  height: 300px; 
  
}

.image-perfil img:hover {
  filter: opacity(100%);
  border-left: 5px solid rgba(101, 24, 180, 1);
}

.descricao{
  margin-left: 2rem;
  filter: opacity(100%);
}

.descricao h1{
  margin: 0;
}

.descricao h2 {
  font-size: 1rem;
  margin: 1rem 0 ;
}

.descricao-perfil{
  filter: opacity(75%);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}


/* ======================== */

/* experiencia  */

.experiencia{
  padding: 3em 5rem;
}

.container-experiencia{
  width: 90%;
}

.container-wrapper {
  display: flex;
  
}

.empresas{
  width: 600px;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: 1rem;
}

.empresas ul {
  list-style: none;
  font-size: 1.1rem;
}

.empresas ul li.active {
  background-color: #151515;
  border-left: 2px solid #00d2df;
  font-weight: 600;
}

.empresas li {
  padding: 10px;
  border-left: 2px solid #272727;
  transition: background-color 0.5s ease;
}

.empresas ul li:hover {
  background-color: #272727;
  border-left: 2px solid #00d2df;
}

.caixas{
  padding: 2rem 0;
}

.caixas section{
  margin-top: 1rem;
}

.experiencia-descricao {

  margin-left: 5rem;
  line-height: 1.5rem;
}

.box-experiencia{
  border-bottom: 3px solid #252525;
  padding-bottom: 2rem;
  position: relative;
}

.ano{
  font-size: 0.85rem;
  float: right;
  font-weight: bold;
  filter: opacity(75%);
  margin-top: 2px;

}


.exp-local {
  margin: 1rem 0;
  font-size: 0.85rem;
  color: #00d2df;
  font-weight: bold;
  
}

.exp-info p{
  filter: opacity(75%);
  margin-bottom: 2rem;

}


/* =================================== */

.container-educacao{
  width: 90%;
  margin: auto;
  padding: 1rem 0;
}

.ifba{
  display: flex;
  margin-top: 1rem;
  
}

.image-campus{
  width: 350px;
  height: 300px;
  margin-left: 2rem;
  background-image: url('../assets/image/IFBA.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}

.info-ifba{
  margin-left: 2rem;
  width: 750px;
}

.info-ifba h2 {
  font-size: 1.4rem;
  display: inline-block;
}
.descricao-ifba{
    filter: opacity(75%);
    line-height: 1.5;
}

/* =============================  */

.certificados{
  width: 90%;
  margin: auto;
}

.cards-certificados {
  height: 180px;
  display: flex;
  justify-content: space-around;
}

.card-one{
  width: 265px;
  height: 180px;
  background: #272727;
  border: 1px solid #272727;
  border-radius: 5px;
}

/* =============================  */

.conhecimentos{
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}

.container-conhecimentos{
    margin: 1rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.ling img {
  width: 60px;
  height: 60px;

  transition: all 0.3s ease 0s;
}

.ling:hover {
  cursor: pointer;
  transform: translateY(-7px);
}


/* ============================================= */

